/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 

 clearfix 
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 display none until init 
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

 mouse grab icon 
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

 fix 
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}*/

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */

nav{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
  background: rgba(0,0,0,0.3);
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  width: 90px;
  height: 80px;
  float: left;
  font-size: 30px;
}
nav ul{
  float: right;
  margin-right: 50px;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  /* background: rgba(0,0,0,0.3); */
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: #DC143C;
  border-radius: 5px;
  box-shadow:  0 0 5px #DC143C,
               0 0 10px #DC143C;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 5px solid #DC143C;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 10px;
  width: 180px;
  float: none;
  display: list-item;
  border-bottom: rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 40px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,input{
  display: none;
}

@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: inline-block;
    color: white;
    font-size: 18px;
    padding: 20px;
    line-height: 50px;
    cursor: pointer;
  }
  .show:hover{
    color: cyan;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}

.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	/* visibility: hidden; */
	line-height: 0;
	height: 10;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	/* -ms-touch-action: pan-y; */
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	/* position: relative; */
	/* width: 100%; */
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
 } 
.owl-controls 
{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	/*user-select: none;*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 2);
}

/* mouse grab icon */
/* .grabbing {  */
    /* cursor:url(grabbing.png) 8 8, move; */
/* } */

/* fix */
/* .owl-carousel  .owl-wrapper, */
/* .owl-carousel  .owl-item{ */
	/* -webkit-backface-visibility: hidden; */
	/* -moz-backface-visibility:    hidden; */
	/* -ms-backface-visibility:     hidden; */
  /* -webkit-transform: translate3d(0,0,0); */
  /* -moz-transform: translate3d(0,0,0); */
  /* -ms-transform: translate3d(0,0,0); */
/* } */
